<!-- instant-chat.component.html -->
<div *ngIf="receiver">
    <h2 class="text-xl font-bold mb-4">
      Conversation with {{ receiver.firstname }} {{ receiver.lastname }}
    </h2>
  </div>
  
  <div class="space-y-4">
    <ng-container *ngFor="let message of messages">
      <!-- Message sent by the current user -->
      <div *ngIf="message.senderId === senderId">
        <div class="flex justify-end">
          <div class="bg-blue-500 text-white p-3 rounded-lg max-w-xs">
            <p class="break-words">{{ message.content }}</p>
            <span class="text-xs text-white opacity-75">
              {{ message.sentDate | date: 'dd/MM/yy HH:mm:ss' }}
            </span>
          </div>
        </div>
      </div>
  
      <!-- Message received from others -->
      <div *ngIf="message.senderId !== senderId">
        <div class="flex justify-start">
          <div class="bg-gray-300 text-black p-3 rounded-lg max-w-xs">
            <p class="break-words">{{ message.content }}</p>
            <span class="text-xs text-black opacity-75">
              {{ message.sentDate | date: 'dd/MM/yy HH:mm:ss' }}
            </span>
          </div>
        </div>
      </div>
    </ng-container>
  </div>
  
  <div class="mt-4">
    <form
      class="flex"
      *ngIf="form"
      [formGroup]="form"
      (ngSubmit)="onClickSendMessage()"
    >
      <input
        class="border border-gray-300 p-2 rounded-lg flex-grow focus:outline-none focus:border-blue-500"
        formControlName="content"
        type="text"
        placeholder="Type your message..."
      />
      <button
        type="submit"
        [disabled]="form.invalid"
        class="bg-blue-500 text-white p-2 ml-2 rounded-lg disabled:opacity-50"
      >
        Send
      </button>
    </form>
  </div>
  